- if object
  - presenter = present(object)

  %ol.breadcrumb
    %li
      = link_to('Home', forums_path)
    - object.ancestors.each do |ancestor|
      - ancestor_p = present(ancestor)
      %li
        = ancestor_p.link
    %li
      = object.name

  %h2= presenter
- else
  %h1.tab-header Forums

%hr
