language: ruby
cache: bundler
rvm: 2.3.3
addons:
  postgresql: '9.4'
install:
  - bundle install --jobs=3 --retry=3 --deployment --path=${BUNDLE_PATH:-vendor/bundle} --without development
before_script:
  - export SECRET_KEY_BASE=`bundle exec rake secret`
  - cp config/database.yml.travis config/database.yml
  - bundle exec rake db:create db:schema:load db:seed
after_success:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
