- if adminbar_enabled?
  %div{ id: 'admin-bar', class: AdminBar.env, 'data-request-id' => AdminBar.request_id }
    %div{ class: 'container' }
      - AdminBar.views.each do |view|
        %span.view{ id: view.dom_id }
          = render view.partial, view: view

          %span.title
            = view.title
