- if user_signed_in?
  %li.nav-item.profile-item{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Profile"}
    %a.nav-link.profile-nav{:onclick => "profile_load()"}
      .media
        %img.d-flex.mr-3.rounded-circle.profile-avatar{:alt => "", :src => current_user.avatar}
        %span.indicator.text-success.d-none.d-lg-block
          %i.fa.fa-fw.fa-circle
        .media-body.my-auto.profile-name
          = current_user.name
          %span.badge.badge-info.notibadge 1
  
  %li.nav-item{ class: navbar_class(:home), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Home"}
    %a.nav-link{:href => "/" }
      %i.fa.fa-home
      %span.nav-link-text Home
- else
  %li.nav-item{ class: navbar_class(:home), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Home"}
    %a.nav-link.massive{:href => "/" }
      %i.fa.fa-home
      %span.nav-link-text Home
    
%li.nav-item{ class: navbar_class(:users), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Users"}
  %a.nav-link{:href => "/users" }
    %i.fa.fa-users
    %span.nav-link-text Users
    
%li.nav-item{ class: navbar_class(:teams), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Teams"}
  %a.nav-link{:href => "/teams" }
    %i.fa.fa-bars
    %span.nav-link-text Teams
    
%li.nav-item{ class: navbar_class(:leagues), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Leagues"}
  %a.nav-link{:href => "/leagues" }
    %i.fa.fa-trophy
    %span.nav-link-text Leagues
    
%li.nav-item{ class: navbar_class(:forums), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Forums"}
  %a.nav-link{:href => "/forums" }
    %i.fa.fa-bars
    %span.nav-link-text Forums

%li.dropdown
  %a.dropdown-toggle{ role: :button, data: { toggle: :dropdown } }
    Info
    %span.caret

  %ul.dropdown-menu
    %li{ class: navbar_class(:rules) }
      = link_to('Rules', :rules)

    %li{ class: navbar_class(:server_booking) }
      = link_to('Server Booking', :server_booking)

- if user_signed_in? && current_user.admin?
  %li.nav-item{ class: navbar_class(:admin), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Control panel"}
    %a.nav-link{:href => "/admin" }
      %i.fa.fa-cogs
      %span.nav-link-text Control panel